﻿@model MVCBlogAssignment.Models.AddCommentViewModel
@using (Html.BeginForm("Add","Comments" , FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h2>Add a comment</h2>
        <div class="form-group">
            @Html.HiddenFor(model=>model.postId)
            @Html.TextAreaFor(model=>model.Content, new { Style = "min-width:100%", row="6"})
            @Html.ValidationMessageFor(model=>model.Content,"" , new { @class="text-danger" })
        </div>
        <div class="form-group">
            <input type="submit" value="Add a Comment" class="btn btn-default"
        </div>
    </div>
}