﻿@using MVCBlogAssignment.Models
@model IEnumerable<MVCBlogAssignment.Models.Post>
<h1 class="bg-primary">MVC Blog</h1>
<div class="row">

    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var post in Model)
        {
            @Html.Partial("_PostOnly", post)
            <hr />
        }
    </div>
</div>