﻿@model WeatherApi.Models.WeatherViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Weather API call</h2>

<div>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.RequestedCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequestedCity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequestedCity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>

@if (Model.RequestedCity != null)
            {
<dl class="dl-horizontal">
    <dd>
        @Html.DisplayFor(model => model.RequestedCity)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.City)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.City)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Country)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Country)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Lat)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Lat)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Lon)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Lon)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Humidity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Humidity)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TempFeelsLike)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TempFeelsLike)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Temp)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Temp)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TempMax)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TempMax)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TempMin)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TempMin)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.WeatherIcon)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.WeatherIcon)
    </dd>
</dl>
    }
    